.carousel-indicators > li {
	width: 5px;
    height: 5px;
	border-radius: 100%;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-menu {
  padding-top: 1px;
  padding-bottom: 1px;
}

.dropdown-menu li a {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: .8em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}

header .navbar-bottom .navbar-nav .nav-item:hover .nav-link{
  color: #032a63;
  background-color: #fff;
}

header .navbar-bottom .navbar-nav .nav-item .nav-link {
  padding: 14px 15px;
}

header .navbar-bottom {
  padding-bottom: 0;
}

footer .footer-top .count {
  width: 46px;
  height: 18px;
  border-radius: 0%;
  background: #d1011c;
  font-size: 12px;
  text-align: center;
}

.sticky {
  padding: 0 24px;
}

.footer-top input {
    width: 76%;
}

.footer-top h5 a {
   color: yellow;
}

.footer-top button {
  font-weight: bold;
}

#toTopBtn {
    position: fixed;
    bottom: 29px;
    right: 29px;
    z-index: 98;
    padding: 21px;
    background-color: #d1011c
}

.js .cd-top--fade-out {
    opacity: .5
}

.js .cd-top--is-visible {
    visibility: visible;
    opacity: 1
}

.js .cd-top {
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s, visibility .3s, background-color .3s
}

.cd-top {
    position: fixed;
    bottom: 20px;
    bottom: var(--cd-back-to-top-margin);
    right: 20px;
    right: var(--cd-back-to-top-margin);
    display: inline-block;
    height: 40px;
    height: var(--cd-back-to-top-size);
    width: 40px;
    width: var(--cd-back-to-top-size);
    box-shadow: 0 0 10px rgba(0, 0, 0, .05) !important;
    background: url(https://res.cloudinary.com/dxfq3iotg/image/upload/v1571057658/cd-top-arrow.svg) no-repeat center 50%;
    background-color: hsla(5, 76%, 62%, .8);
    background-color: hsla(var(--cd-color-3-h), var(--cd-color-3-s), var(--cd-color-3-l), 0.8)
}

header .navbar-top {
  padding: 10px 0;
}

.navbar-top-right-menu input[type=text] {
  width: 180px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color: white;
  padding: 5px 5px 5px 5px;
}

.flash-news-banner p {
  text-align: justify;
}

.content-wrapper .banner-content {
 
  padding: 63px 45px;
}

.navbar-bottom .navbar-brand {
  color: white;
  font-size: 25px;
}

.navbar-bottom .navbar-brand:hover{
  color: yellow;
}

.footer-top .ini-judul-footer {
  color: white;
  font-size: 28px;
  text-decoration: none;
  font-weight: bold;
}

.content-wrapper .konten-berita {
  text-align: justify;
}

.content-wrapper .konten-berita ol {
	margin-left: -30px;
}

.content-wrapper .ini-konten-list ol {
	margin-left: -25px;
}

.tab-content .ini-modal:hover{
  color: rgb(0, 89, 255);
}

.bd-example-modal-lg .modal-footer .ini-btn-tutup {
  color: white;
}

.content-wrapper .ini-tombol a {
	text-decoration: none;
}

.table > tbody > tr > td {
	vertical-align: middle;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #032a63;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.content-wrapper .ini-pencarian input[type=text] {
  width: 230px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color: white;
  padding: 5px 5px 5px 5px;
}

.content-wrapper {
  padding: 50px 0;
}


.btn-success {
  color: #fff;
  background-color: #37a133;
  border-color: #316347;
}

.btn-success:hover {
  color: #fff;
  background-color: #378834;
  border-color: #316347;
}

@media only screen and (min-width: 360px) and (max-width: 370px) {

	/* untuk jarak button menu pojok kanan atas */
	header .navbar-bottom {
		padding-bottom: 14px;
		padding-top: 14px;
	}

	/* untuk ngatur gambar slider beranda paling atas */
	.content-wrapper .slider-atas img{
		height: 190px !important;
	}

	/* untuk ngatur caption gambar slider beranda paling atas */
	.content-wrapper .slider-atas .carousel-caption {
		padding-top: 10px;
		padding-bottom: 5px;
		border-radius: 3px !important;
	}

	/* untuk ngatur judul gambar slider beranda paling atas */
	.content-wrapper .slider-atas .carousel-caption h2 {
		font-size: 9px;
	}

	/* untuk ngatur heading sambutan kades */
	.content-wrapper .judul-sambutan-kades {
		font-size: 16px;
	}

	/* untuk ngatur isi sambutan kades */
	.content-wrapper .isi-sambutan-kades .salam-sambutan-kades {
		font-size: 14px !important;
	}

	.content-wrapper .isi-sambutan-kades p {
		font-size: 12px;
	}

	/* untuk ngatur heading sidebar kanan */
	.content-wrapper .heading-sidebar-kanan {
		font-size: 17px;
	}

	/* untuk ngatur gambar pelayanan masyarakat di heading sidebar kanan */
	.content-wrapper .gambar-pelayanan-masyarakat {
		height: 105px !important;
	}

	/* untuk ngatur padding judul di slide berita beranda bagian bawah */
	.content-wrapper .banner-content {
		padding: 38px 28px !important;
	}

	/* untuk slide berita di beranda */
	.content-wrapper .banner-content h1 {
		font-size: 16px;
	}

	/* untuk slide berita di beranda */
	.content-wrapper .banner-content h2 {
		font-size: 12px;
		font-weight: normal;
	}

	/* untuk keterangan waktu slide berita di beranda */
	.content-wrapper .banner-content .ini-tgl-terbit {
		font-size: 9px;
	}

	/* untuk ngatur judul berita populer sidebar kanan */
	.content-wrapper .judul-berita-sidebar-kanan {
		font-size: 13px;
		font-weight: normal;
	}

	/* untuk ngatur jumlah views berita populer sidebar kanan */
	.content-wrapper .views-sidebar-kanan {
		font-size: 10px;
		font-weight: normal;
	}


	/* untuk ngatur list pelayanan surat */
	.content-wrapper .col-lg-3 .tabmenus .vertical-menu li > a {
		font-size: 13px;
	}

	/* untuk ngatur paragraf di pelayanan surat */
	.content-wrapper .col-lg-9 .card-body .grid-margin p {
		font-size: 12px;
	}

	/* untuk ngatur tulisan heading di pelayanan surat */
	.content-wrapper .col-lg-9 .card-body .grid-margin h2 {
		font-size: 14px;
	}

	/* untuk ngatur tulisan heading di pelayanan surat */
	.content-wrapper .col-lg-9 .card-body .grid-margin h4 {
		font-size: 12px;
	}

	/* untuk ngatur tulisan desa sidomulyo di footer */
	.footer-top .ini-judul-footer {
		font-size: 22px;
	}

	/* untuk ngatur fakta singkat di footer */
	.footer-top .col-sm-5 h5 {
		font-size: 13px;
	}

	/* untuk ngatur tulisan email, telepon, wa */
	.footer-top .ini-tulisan-kontak {
		font-size: 15px;
	}

	/* untuk ngatur gambar icon kontak */
	footer .footer-top .footer-border-bottom img {
		margin-left: 20px;
	}

	/* untuk ngatur gambar icon kontak */
	footer .footer-top .ini-icon-wa img {
		margin-left: 20px;
	}

	/* untuk form input salin link peta */
	.footer-top input {
		width: 67%;
	}

	/* untuk judul di halaman detail konten */
	.content-wrapper .ini-judul-konten {
		font-size: 19px;
		text-align: justify-all;
	}

	/* untuk judul di list berita */
	.content-wrapper .ini-judul-berita {
		font-size: 15px;
	}
	
	/* untuk gambar di detail konten aparatur */
	.content-wrapper .ini-gambar {
		width: 200px;
		height: 300px;
	}

	/* untuk konten paragraf di list berita */
	.content-wrapper .konten-berita p{
		font-size: 13px;
	}	

	/* untuk form input pencarian berita */
	.content-wrapper .ini-pencarian input[type=text] {
		width: 150px;
	}

	/* untuk button to top */
	#toTopBtn {
		bottom: 17px;
		right: 17px;
		padding: 24px;
	}

	/* untuk jarak dari info terbaru */
	.content-wrapper {
		padding: 40px 0;
	}

	/* untuk ngatur ukuran judul berita terpopuler di sidebar kanan */
	.content-wrapper .trending a {
		font-size: 15px;
	}

	/* untuk ngatur ukuran judul berita terbaru di sidebar kanan */
	.content-wrapper .ini-judul-terbaru-kanan {
		font-size: 15px;
	}

	.content-wrapper .text-muted {
		font-size: 13px;
	}

	/* untuk ngatur ukuran gambar di modal umkm */
	.modal .modal-dialog .modal-content .modal-body .ini-gambar-modal {
		width: 280px;
		height: 210px;
	}

	/* untuk counter pengunjung */
	footer .footer-top .count {
		font-size: 12px;
	}

	.content-wrapper .aboutus-wrapper .ini-statistik-atas {
		font-size: 15px;
		margin-top: 5px !important;
	}

	.content-wrapper .aboutus-wrapper h2 {
		font-size: 15px;
		margin-top: 35px !important;
	}


}

@media only screen and (min-width: 371px) and (max-width: 410px) {
	/* untuk jarak button menu pojok kanan atas */
	header .navbar-bottom {
		padding-bottom: 14px;
		padding-top: 14px;
	}

	/* untuk ngatur gambar slider beranda paling atas */
	.content-wrapper .slider-atas img{
		height: 200px !important;
	}

	/* untuk ngatur caption gambar slider beranda paling atas */
	.content-wrapper .slider-atas .carousel-caption {
		padding-top: 10px;
		padding-bottom: 4px;
		border-radius: 3px !important;
	}

	/* untuk ngatur judul gambar slider beranda paling atas */
	.content-wrapper .slider-atas .carousel-caption h2 {
		font-size: 9px;
	}

	/* untuk ngatur heading sambutan kades */
	.content-wrapper .judul-sambutan-kades {
		font-size: 17px;
	}

	/* untuk ngatur isi sambutan kades */
	.content-wrapper .isi-sambutan-kades .salam-sambutan-kades {
		font-size: 15px !important;
	}

	.content-wrapper .isi-sambutan-kades p {
		font-size: 13px;
	}

	/* untuk ngatur heading sidebar kanan */
	.content-wrapper .heading-sidebar-kanan {
		font-size: 17px;
	}

	/* untuk ngatur gambar pelayanan masyarakat di heading sidebar kanan */
	.content-wrapper .gambar-pelayanan-masyarakat {
		height: 110px !important;
	}

	/* untuk ngatur padding judul di slide berita beranda bagian bawah */
	.content-wrapper .banner-content {
		padding: 38px 28px !important;
	}

	/* untuk slide berita di beranda */
	.content-wrapper .banner-content h1 {
		font-size: 17px;
	}

	/* untuk slide berita di beranda */
	.content-wrapper .banner-content h2 {
		font-size: 13px;
		font-weight: normal;
	}

	/* untuk keterangan waktu slide berita di beranda */
	.content-wrapper .banner-content .ini-tgl-terbit {
		font-size: 10px;
	}

	/* untuk ngatur judul berita populer sidebar kanan */
	.content-wrapper .judul-berita-sidebar-kanan {
		font-size: 13px;
		font-weight: normal;
	}

	/* untuk ngatur jumlah views berita populer sidebar kanan */
	.content-wrapper .views-sidebar-kanan {
		font-size: 11px;
		font-weight: normal;
	}


	/* untuk ngatur list pelayanan surat */
	.content-wrapper .col-lg-3 .tabmenus .vertical-menu li > a {
		font-size: 14px;
	}

	/* untuk ngatur paragraf di pelayanan surat */
	.content-wrapper .col-lg-9 .card-body .grid-margin p {
		font-size: 13px;
	}

	/* untuk ngatur tulisan heading di pelayanan surat */
	.content-wrapper .col-lg-9 .card-body .grid-margin h2 {
		font-size: 15px;
	}

	/* untuk ngatur tulisan heading di pelayanan surat */
	.content-wrapper .col-lg-9 .card-body .grid-margin h4 {
		font-size: 13px;
	}

	/* untuk ngatur tulisan desa sidomulyo di footer */
	.footer-top .ini-judul-footer {
		font-size: 23px;
	}

	/* untuk ngatur fakta singkat di footer */
	.footer-top .col-sm-5 h5 {
		font-size: 14px;
	}

	/* untuk ngatur tulisan email, telepon, wa */
	.footer-top .ini-tulisan-kontak {
		font-size: 15px;
	}

	/* untuk ngatur gambar icon kontak */
	footer .footer-top .footer-border-bottom img {
		margin-left: 20px;
	}

	/* untuk ngatur gambar icon kontak */
	footer .footer-top .ini-icon-wa img {
		margin-left: 20px;
	}

	/* untuk form input salin link peta */
	.footer-top input {
		width: 69%;
	}

	/* untuk judul di halaman detail konten */
	.content-wrapper .ini-judul-konten {
		font-size: 20px;
		text-align: justify-all;
	}

	/* untuk judul di list berita */
	.content-wrapper .ini-judul-berita {
		font-size: 16px;
	}
	
	/* untuk gambar di detail konten aparatur */
	.content-wrapper .ini-gambar {
		width: 200px;
		height: 300px;
	}

	/* untuk konten paragraf di list berita */
	.content-wrapper .konten-berita td{
		font-size: 14px;
	}	

	.content-wrapper .konten-berita p{
		font-size: 14px;
	}	

	/* untuk form input pencarian berita */
	.content-wrapper .ini-pencarian input[type=text] {
		width: 160px;
	}

	/* untuk button to top */
	#toTopBtn {
		bottom: 17px;
		right: 17px;
		padding: 24px;
	}

	/* untuk jarak dari info terbaru */
	.content-wrapper {
		padding: 40px 0;
	}

	/* untuk ngatur ukuran judul berita terpopuler di sidebar kanan */
	.content-wrapper .trending a {
		font-size: 16px;
	}

	/* untuk ngatur ukuran judul berita terbaru di sidebar kanan */
	.content-wrapper .ini-judul-terbaru-kanan {
		font-size: 16px;
	}

	.content-wrapper .text-muted {
		font-size: 14px;
	}

	/* untuk ngatur ukuran gambar di modal umkm */
	.modal .modal-dialog .modal-content .modal-body .ini-gambar-modal {
		width: 280px;
		height: 210px;
	}

	/* untuk counter pengunjung */
	footer .footer-top .count {
		font-size: 12px;
	}

	.content-wrapper .aboutus-wrapper .ini-statistik-atas {
		font-size: 15px;
		margin-top: 5px !important;
	}

	.content-wrapper .aboutus-wrapper h2 {
		font-size: 15px;
		margin-top: 35px !important;
	}

}

@media only screen and (min-width: 411px) and (max-width: 500px) {
	/* untuk jarak button menu pojok kanan atas */
	header .navbar-bottom {
		padding-bottom: 14px;
		padding-top: 14px;
	}

	/* untuk ngatur gambar slider beranda paling atas */
	.content-wrapper .slider-atas img{
		height: 220px !important;
	}

	/* untuk ngatur caption gambar slider beranda paling atas */
	.content-wrapper .slider-atas .carousel-caption {
		padding-top: 10px;
		padding-bottom: 4px;
		border-radius: 3px !important;
	}

	/* untuk ngatur judul gambar slider beranda paling atas */
	.content-wrapper .slider-atas .carousel-caption h2 {
		font-size: 10px;
	}

	/* untuk ngatur heading sambutan kades */
	.content-wrapper .judul-sambutan-kades {
		font-size: 18px;
	}

	/* untuk ngatur isi sambutan kades */
	.content-wrapper .isi-sambutan-kades .salam-sambutan-kades {
		font-size: 16px !important;
	}

	.content-wrapper .isi-sambutan-kades p {
		font-size: 14px;
	}

	/* untuk ngatur heading sidebar kanan */
	.content-wrapper .heading-sidebar-kanan {
		font-size: 18px;
	}

	/* untuk ngatur gambar pelayanan masyarakat di heading sidebar kanan */
	.content-wrapper .gambar-pelayanan-masyarakat {
		height: 120px !important;
	}

	/* untuk ngatur padding judul di slide berita beranda bagian bawah */
	.content-wrapper .banner-content {
		padding: 38px 28px !important;
	}

	/* untuk slide berita di beranda */
	.content-wrapper .banner-content h1 {
		font-size: 18px;
	}

	/* untuk slide berita di beranda */
	.content-wrapper .banner-content h2 {
		font-size: 14px;
		font-weight: normal;
	}

	/* untuk keterangan waktu slide berita di beranda */
	.content-wrapper .banner-content .ini-tgl-terbit {
		font-size: 11px;
	}

	/* untuk ngatur judul berita populer sidebar kanan */
	.content-wrapper .judul-berita-sidebar-kanan {
		font-size: 14px;
		font-weight: normal;
	}

	/* untuk ngatur jumlah views berita populer sidebar kanan */
	.content-wrapper .views-sidebar-kanan {
		font-size: 12px;
		font-weight: normal;
	}


	/* untuk ngatur list pelayanan surat */
	.content-wrapper .col-lg-3 .tabmenus .vertical-menu li > a {
		font-size: 15px;
	}

	/* untuk ngatur paragraf di pelayanan surat */
	.content-wrapper .col-lg-9 .card-body .grid-margin p {
		font-size: 14px;
	}

	/* untuk ngatur tulisan heading di pelayanan surat */
	.content-wrapper .col-lg-9 .card-body .grid-margin h2 {
		font-size: 16px;
	}

	/* untuk ngatur tulisan heading di pelayanan surat */
	.content-wrapper .col-lg-9 .card-body .grid-margin h4 {
		font-size: 14px;
	}

	/* untuk ngatur tulisan desa sidomulyo di footer */
	.footer-top .ini-judul-footer {
		font-size: 24px;
	}

	/* untuk ngatur fakta singkat di footer */
	.footer-top .col-sm-5 h5 {
		font-size: 15px;
	}

	/* untuk ngatur tulisan email, telepon, wa */
	.footer-top .ini-tulisan-kontak {
		font-size: 16px;
	}

	/* untuk ngatur gambar icon kontak */
	footer .footer-top .footer-border-bottom img {
		margin-left: 20px;
	}

	/* untuk ngatur gambar icon kontak */
	footer .footer-top .ini-icon-wa img {
		margin-left: 20px;
	}

	/* untuk form input salin link peta */
	.footer-top input {
		width: 71%;
	}

	/* untuk judul di halaman detail konten */
	.content-wrapper .ini-judul-konten {
		font-size: 21px;
		text-align: justify-all;
	}

	/* untuk judul di list berita */
	.content-wrapper .ini-judul-berita {
		font-size: 17px;
	}
	
	/* untuk gambar di detail konten aparatur */
	.content-wrapper .ini-gambar {
		width: 200px;
		height: 300px;
	}

	/* untuk konten paragraf di list berita */
	.content-wrapper .konten-berita td{
		font-size: 15px;
	}	

	.content-wrapper .konten-berita p{
		font-size: 15px;
	}	

	/* untuk form input pencarian berita */
	.content-wrapper .ini-pencarian input[type=text] {
		width: 200px;
	}

	/* untuk button to top */
	#toTopBtn {
		bottom: 17px;
		right: 17px;
		padding: 24px;
	}

	/* untuk jarak dari info terbaru */
	.content-wrapper {
		padding: 40px 0;
	}

	/* untuk ngatur ukuran judul berita terpopuler di sidebar kanan */
	.content-wrapper .trending a {
		font-size: 17px;
	}

	/* untuk ngatur ukuran judul berita terbaru di sidebar kanan */
	.content-wrapper .ini-judul-terbaru-kanan {
		font-size: 17px;
	}

	.content-wrapper .text-muted {
		font-size: 15px;
	}

	/* untuk ngatur ukuran gambar di modal umkm */
	.modal .modal-dialog .modal-content .modal-body .ini-gambar-modal {
		width: 280px;
		height: 210px;
	}

	/* untuk counter pengunjung */
	footer .footer-top .count {
		font-size: 12px;
	}

	.content-wrapper .aboutus-wrapper .ini-statistik-atas {
		font-size: 16px;
		margin-top: 5px !important;
	}

	.content-wrapper .aboutus-wrapper h2 {
		font-size: 16px;
		margin-top: 35px !important;
	}
}

@media only screen and (min-width: 640px) and (max-width: 700px){
	/* untuk jarak button menu pojok kanan atas */
	header .navbar-bottom {
		padding-bottom: 14px;
		padding-top: 14px;
	}

	/* untuk ngatur gambar slider beranda paling atas */
	.content-wrapper .slider-atas img{
		height: 300px !important;
	}

	/* untuk ngatur caption gambar slider beranda paling atas */
	.content-wrapper .slider-atas .carousel-caption {
		padding-bottom: 4px;
		border-radius: 4px !important;
	}

	/* untuk ngatur judul gambar slider beranda paling atas */
	.content-wrapper .slider-atas .carousel-caption h2 {
		font-size: 16px;
	}

	.content-wrapper .slider-atas .carousel-caption p {
		display: block !important;
		font-size: 13px;
	}

	/* untuk ngatur heading sambutan kades */
	.content-wrapper .judul-sambutan-kades {
		font-size: 20px;
	}

	/* untuk ngatur isi sambutan kades */
	.content-wrapper .isi-sambutan-kades .salam-sambutan-kades {
		font-size: 16px !important;
	}

	.content-wrapper .isi-sambutan-kades p {
		font-size: 14px;
	}

	/* untuk ngatur heading sidebar kanan */
	.content-wrapper .heading-sidebar-kanan {
		font-size: 20px;
	}

	/* untuk ngatur gambar pelayanan masyarakat di heading sidebar kanan */
	.content-wrapper .gambar-pelayanan-masyarakat {
		height: 170px !important;
	}

	/* untuk ngatur padding judul di slide berita beranda bagian bawah */
	.content-wrapper .banner-content {
		padding: 40px 38px !important;
	}

	/* untuk slide berita di beranda */
	.content-wrapper .banner-content h1 {
		font-size: 20px;
	}

	/* untuk slide berita di beranda */
	.content-wrapper .banner-content h2 {
		font-size: 16px;
		font-weight: normal;
	}

	/* untuk keterangan waktu slide berita di beranda */
	.content-wrapper .banner-content .ini-tgl-terbit {
		font-size: 12px;
	}

	/* untuk ngatur judul berita populer sidebar kanan */
	.content-wrapper .judul-berita-sidebar-kanan {
		font-size: 16px;
		font-weight: normal;
	}

	/* untuk ngatur jumlah views berita populer sidebar kanan */
	.content-wrapper .views-sidebar-kanan {
		font-size: 12px;
		font-weight: normal;
	}


	/* untuk ngatur list pelayanan surat */
	.content-wrapper .col-lg-3 .tabmenus .vertical-menu li > a {
		font-size: 16px;
	}

	/* untuk ngatur paragraf di pelayanan surat */
	.content-wrapper .col-lg-9 .card-body .grid-margin p {
		font-size: 14px;
	}

	/* untuk ngatur tulisan heading di pelayanan surat */
	.content-wrapper .col-lg-9 .card-body .grid-margin h2 {
		font-size: 16px;
	}

	/* untuk ngatur tulisan heading di pelayanan surat */
	.content-wrapper .col-lg-9 .card-body .grid-margin h4 {
		font-size: 14px;
	}

	/* untuk ngatur tulisan desa sidomulyo di footer */
	.footer-top .ini-judul-footer {
		font-size: 24px;
	}

	/* untuk ngatur fakta singkat di footer */
	.footer-top .col-sm-5 h5 {
		font-size: 13px;
	}

	/* untuk ngatur tulisan email, telepon, wa */
	.footer-top .ini-tulisan-kontak {
		font-size: 13px;
	}

	/* untuk ngatur gambar icon kontak */
	footer .footer-top .footer-border-bottom .col-3 {
		display: none;
	}

	/* untuk ngatur gambar icon kontak */
	footer .footer-top .ini-icon-wa .col-3 {
		display: none;
	}

	/* untuk form input salin link peta */
	.footer-top input {
		width: 100%;
	}

	/* untuk judul di halaman detail konten */
	.content-wrapper .ini-judul-konten {
		font-size: 20px;
		text-align: justify-all;
	}

	/* untuk judul di list berita */
	.content-wrapper .ini-judul-berita {
		font-size: 17px;
	}
	
	/* untuk gambar di detail konten aparatur */
	.content-wrapper .ini-gambar {
		width: 200px;
		height: 300px;
	}

	/* untuk konten paragraf di list berita */
	.content-wrapper .konten-berita td{
		font-size: 14px;
	}	

	.content-wrapper .konten-berita p{
		font-size: 14px;
	}	

	/* untuk form input pencarian berita */
	.content-wrapper .ini-pencarian input[type=text] {
		width: 330px;
	}

	/* untuk button to top */
	#toTopBtn {
		bottom: 17px;
		right: 17px;
		padding: 20px;
	}

	/* untuk jarak dari info terbaru */
	.content-wrapper {
		padding: 40px 0;
	}

	/* untuk ngatur ukuran judul berita terpopuler di sidebar kanan */
	.content-wrapper .trending a {
		font-size: 17px;
	}

	/* untuk ngatur ukuran judul berita terbaru di sidebar kanan */
	.content-wrapper .ini-judul-terbaru-kanan {
		font-size: 17px;
	}

	.content-wrapper .text-muted {
		font-size: 14px;
	}

	/* untuk ngatur ukuran gambar di modal umkm */
	.modal .modal-dialog .modal-content .modal-body .ini-gambar-modal {
		width: 280px;
		height: 210px;
	}

	/* untuk counter pengunjung */
	footer .footer-top .count {
		width: 36px;
		height: 14px;
		font-size: 9px;
	  }

	.footer-top .col-sm-3 h5 {
		font-size: 10px;
	}

	.content-wrapper .aboutus-wrapper .ini-statistik-atas {
		font-size: 16px;
		margin-top: 5px !important;
	}

	.content-wrapper .aboutus-wrapper h2 {
		font-size: 16px;
		margin-top: 35px !important;
	}
}

@media only screen and (min-width: 701px) and (max-width: 766px){
	/* untuk jarak button menu pojok kanan atas */
	header .navbar-bottom {
		padding-bottom: 14px;
		padding-top: 14px;
	}

	/* untuk ngatur gambar slider beranda paling atas */
	.content-wrapper .slider-atas img{
		height: 300px !important;
	}

	/* untuk ngatur caption gambar slider beranda paling atas */
	.content-wrapper .slider-atas .carousel-caption {
		padding-bottom: 4px;
		border-radius: 4px !important;
	}

	/* untuk ngatur judul gambar slider beranda paling atas */
	.content-wrapper .slider-atas .carousel-caption h2 {
		font-size: 16px;
	}

	.content-wrapper .slider-atas .carousel-caption p {
		display: block !important;
		font-size: 13px;
	}

	/* untuk ngatur heading sambutan kades */
	.content-wrapper .judul-sambutan-kades {
		font-size: 20px;
	}

	/* untuk ngatur isi sambutan kades */
	.content-wrapper .isi-sambutan-kades .salam-sambutan-kades {
		font-size: 16px !important;
	}

	.content-wrapper .isi-sambutan-kades p {
		font-size: 14px;
	}

	/* untuk ngatur heading sidebar kanan */
	.content-wrapper .heading-sidebar-kanan {
		font-size: 20px;
	}

	/* untuk ngatur gambar pelayanan masyarakat di heading sidebar kanan */
	.content-wrapper .gambar-pelayanan-masyarakat {
		height: 170px !important;
	}

	/* untuk ngatur padding judul di slide berita beranda bagian bawah */
	.content-wrapper .banner-content {
		padding: 40px 38px !important;
	}

	/* untuk slide berita di beranda */
	.content-wrapper .banner-content h1 {
		font-size: 20px;
	}

	/* untuk slide berita di beranda */
	.content-wrapper .banner-content h2 {
		font-size: 16px;
		font-weight: normal;
	}

	/* untuk keterangan waktu slide berita di beranda */
	.content-wrapper .banner-content .ini-tgl-terbit {
		font-size: 12px;
	}

	/* untuk ngatur judul berita populer sidebar kanan */
	.content-wrapper .judul-berita-sidebar-kanan {
		font-size: 16px;
		font-weight: normal;
	}

	/* untuk ngatur jumlah views berita populer sidebar kanan */
	.content-wrapper .views-sidebar-kanan {
		font-size: 12px;
		font-weight: normal;
	}


	/* untuk ngatur list pelayanan surat */
	.content-wrapper .col-lg-3 .tabmenus .vertical-menu li > a {
		font-size: 16px;
	}

	/* untuk ngatur paragraf di pelayanan surat */
	.content-wrapper .col-lg-9 .card-body .grid-margin p {
		font-size: 14px;
	}

	/* untuk ngatur tulisan heading di pelayanan surat */
	.content-wrapper .col-lg-9 .card-body .grid-margin h2 {
		font-size: 16px;
	}

	/* untuk ngatur tulisan heading di pelayanan surat */
	.content-wrapper .col-lg-9 .card-body .grid-margin h4 {
		font-size: 14px;
	}

	/* untuk ngatur tulisan desa sidomulyo di footer */
	.footer-top .ini-judul-footer {
		font-size: 24px;
	}

	/* untuk ngatur fakta singkat di footer */
	.footer-top .col-sm-5 h5 {
		font-size: 13px;
	}

	/* untuk ngatur tulisan email, telepon, wa */
	.footer-top .ini-tulisan-kontak {
		font-size: 13px;
	}

	/* untuk ngatur gambar icon kontak */
	footer .footer-top .footer-border-bottom .col-3 {
		display: none;
	}

	/* untuk ngatur gambar icon kontak */
	footer .footer-top .ini-icon-wa .col-3 {
		display: none;
	}

	/* untuk form input salin link peta */
	.footer-top input {
		width: 100%;
	}

	/* untuk judul di halaman detail konten */
	.content-wrapper .ini-judul-konten {
		font-size: 20px;
		text-align: justify-all;
	}

	/* untuk judul di list berita */
	.content-wrapper .ini-judul-berita {
		font-size: 17px;
	}

	/* untuk gambar di detail konten aparatur */
	.content-wrapper .ini-gambar {
		width: 200px;
		height: 300px;
	}

	/* untuk konten paragraf di list berita */
	.content-wrapper .konten-berita td{
		font-size: 14px;
	}	

	.content-wrapper .konten-berita p{
		font-size: 14px;
	}	

	/* untuk form input pencarian berita */
	.content-wrapper .ini-pencarian input[type=text] {
		width: 330px;
	}

	/* untuk button to top */
	#toTopBtn {
		bottom: 17px;
		right: 17px;
		padding: 20px;
	}

	/* untuk jarak dari info terbaru */
	.content-wrapper {
		padding: 40px 0;
	}

	/* untuk ngatur ukuran judul berita terpopuler di sidebar kanan */
	.content-wrapper .trending a {
		font-size: 17px;
	}

	/* untuk ngatur ukuran judul berita terbaru di sidebar kanan */
	.content-wrapper .ini-judul-terbaru-kanan {
		font-size: 17px;
	}

	.content-wrapper .text-muted {
		font-size: 14px;
	}

	/* untuk ngatur ukuran gambar di modal umkm */
	.modal .modal-dialog .modal-content .modal-body .ini-gambar-modal {
		width: 280px;
		height: 210px;
	}

	/* untuk counter pengunjung */
	footer .footer-top .count {
		width: 36px;
		height: 14px;
		font-size: 9px;
	}

	.footer-top .col-sm-3 h5 {
		font-size: 12px;
	}

	.content-wrapper .aboutus-wrapper .ini-statistik-atas {
		font-size: 16px;
		margin-top: 5px !important;
	}

	.content-wrapper .aboutus-wrapper h2 {
		font-size: 16px;
		margin-top: 35px !important;
	}
}

@media only screen and (min-width: 800px) and (max-width: 900px){
	/* untuk jarak button menu pojok kanan atas */
	header .navbar-bottom {
		padding-bottom: 14px;
		padding-top: 14px;
	}

	/* untuk ngatur gambar slider beranda paling atas */
	.content-wrapper .slider-atas img{
		height: 410px !important;
	}

	/* untuk ngatur caption gambar slider beranda paling atas */
	.content-wrapper .slider-atas .carousel-caption {
		padding-bottom: 4px;
		border-radius: 4px !important;
	}

	/* untuk ngatur judul gambar slider beranda paling atas */
	.content-wrapper .slider-atas .carousel-caption h2 {
		font-size: 16px;
	}

	.content-wrapper .slider-atas .carousel-caption p {
		display: block !important;
		font-size: 13px;
	}

	/* untuk ngatur heading sambutan kades */
	.content-wrapper .judul-sambutan-kades {
		font-size: 22px;
	}

	/* untuk ngatur isi sambutan kades */
	.content-wrapper .isi-sambutan-kades .salam-sambutan-kades {
		font-size: 18px !important;
	}

	.content-wrapper .isi-sambutan-kades p {
		font-size: 16px;
	}

	/* untuk ngatur heading sidebar kanan */
	.content-wrapper .heading-sidebar-kanan {
		font-size: 22px;
	}

	/* untuk ngatur gambar pelayanan masyarakat di heading sidebar kanan */
	.content-wrapper .gambar-pelayanan-masyarakat {
		height: 210px !important;
	}

	/* untuk ngatur padding judul di slide berita beranda bagian bawah */
	.content-wrapper .banner-content {
		padding: 40px 38px !important;
	}

	/* untuk slide berita di beranda */
	.content-wrapper .banner-content h1 {
		font-size: 22px;
	}

	/* untuk slide berita di beranda */
	.content-wrapper .banner-content h2 {
		font-size: 18px;
		font-weight: normal;
	}

	/* untuk keterangan waktu slide berita di beranda */
	.content-wrapper .banner-content .ini-tgl-terbit {
		font-size: 14px;
	}

	/* untuk ngatur judul berita populer sidebar kanan */
	.content-wrapper .judul-berita-sidebar-kanan {
		font-size: 18px;
		font-weight: normal;
	}

	/* untuk ngatur jumlah views berita populer sidebar kanan */
	.content-wrapper .views-sidebar-kanan {
		font-size: 14px;
		font-weight: normal;
	}


	/* untuk ngatur list pelayanan surat */
	.content-wrapper .col-lg-3 .tabmenus .vertical-menu li > a {
		font-size: 18px;
	}

	/* untuk ngatur paragraf di pelayanan surat */
	.content-wrapper .col-lg-9 .card-body .grid-margin p {
		font-size: 16px;
	}

	/* untuk ngatur tulisan heading di pelayanan surat */
	.content-wrapper .col-lg-9 .card-body .grid-margin h2 {
		font-size: 18px;
	}

	/* untuk ngatur tulisan heading di pelayanan surat */
	.content-wrapper .col-lg-9 .card-body .grid-margin h4 {
		font-size: 16px;
	}

	/* untuk ngatur tulisan desa sidomulyo di footer */
	.footer-top .ini-judul-footer {
		font-size: 24px;
	}

	/* untuk ngatur fakta singkat di footer */
	.footer-top .col-sm-5 h5 {
		font-size: 13px;
	}

	/* untuk ngatur tulisan email, telepon, wa */
	.footer-top .ini-tulisan-kontak {
		font-size: 13px;
	}

	/* untuk ngatur gambar icon kontak */
	footer .footer-top .footer-border-bottom .col-3 {
		display: block;
	}

	footer .footer-top .footer-border-bottom .col-3 img {
		width: 40px !important;
		margin-left: 15px;
	}

	/* untuk ngatur gambar icon kontak */
	footer .footer-top .ini-icon-wa .col-3 {
		display: block;
	}

	footer .footer-top .ini-icon-wa .col-3 img {
		width: 60px !important;
		margin-left: 15px;
	}


	/* untuk form input salin link peta */
	.footer-top input {
		width: 100%;
	}

	/* untuk judul di halaman detail konten */
	.content-wrapper .ini-judul-konten {
		font-size: 22px;
		text-align: justify-all;
	}

	/* untuk judul di list berita */
	.content-wrapper .ini-judul-berita {
		font-size: 18px;
	}

	/* untuk gambar di detail konten aparatur */
	.content-wrapper .ini-gambar {
		width: 200px;
		height: 300px;
	}

	/* untuk konten paragraf di list berita */
	.content-wrapper .konten-berita td{
		font-size: 14px;
	}	

	.content-wrapper .konten-berita p{
		font-size: 14px;
	}	

	/* untuk form input pencarian berita */
	.content-wrapper .ini-pencarian input[type=text] {
		width: 510px;
	}

	/* untuk button to top */
	#toTopBtn {
		bottom: 17px;
		right: 17px;
		padding: 20px;
	}

	/* untuk jarak dari info terbaru */
	.content-wrapper {
		padding: 40px 0;
	}

	/* untuk ngatur ukuran judul berita terpopuler di sidebar kanan */
	.content-wrapper .trending a {
		font-size: 17px;
	}

	/* untuk ngatur ukuran judul berita terbaru di sidebar kanan */
	.content-wrapper .ini-judul-terbaru-kanan {
		font-size: 17px;
	}

	.content-wrapper .text-muted {
		font-size: 14px;
	}

	/* untuk ngatur ukuran gambar di modal umkm */
	.modal .modal-dialog .modal-content .modal-body .ini-gambar-modal {
		width: 280px;
		height: 210px;
	}

	/* untuk counter pengunjung */
	footer .footer-top .count {
		width: 36px;
		height: 14px;
		font-size: 9px;
	}

	.footer-top .col-sm-3 h5 {
		font-size: 13px;
	}

	.content-wrapper .aboutus-wrapper .ini-statistik-atas {
		font-size: 16px;
		margin-top: 5px !important;
	}

	.content-wrapper .aboutus-wrapper h2 {
		font-size: 16px;
		margin-top: 35px !important;
	}
}


